BasedOnStyle: Google

# Forbid: if (a) { return; }
AllowShortBlocksOnASingleLine: Never

# Forbid: void f() { return; }
AllowShortFunctionsOnASingleLine: None

# Forbid: if (a) return; (without braces)
AllowShortIfStatementsOnASingleLine: Never

# Forbid: while (true) { continue; }
AllowShortLoopsOnASingleLine: false

# Forbid: switch (a) { case 1: return; }
AllowShortCaseLabelsOnASingleLine: false

BreakBeforeBraces: Allman
